

/*-- X-Large devices (large desktops, less than 1400px) --*/

@media (max-width: 1399px) { 

	/* ============================== */
	/* --REUSABLE COMPONENTS-- */
	/* ============================== */

	/* ============================== */
	/* --SECTION-- */
	/* ============================== */
 }

/*-- Large devices (desktops, less than 1200px) --*/

@media (max-width: 1199px) { 

	/* ============================== */
	/* -- REUSABLE COMPONENTS-- */
	/* ============================== */

	/* ============================== */
	/* --HEADER SECTION-- */
	/* ============================== */

	.main-menu{
		display:none !important;
	}

	.login-area{
		display:none !important;
	}
	
	/*==================*/
	/*-- MOBILE MENU --*/
	/*==================*/

	.mobile-menu{
		display:block !important;
		display:flex !important;
		align-items:center !important;
	}

	.me-20{
		margin-right:20px;
	}

	.mobile-menu-bars span {
    	color: #fff;
    	font-size: 40px;
	}

	.mobile-menu .overlay{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		padding-top:120px;
		background: rgba(0,0,0,1);
		width: 0%;
		overflow-x: hidden;
		z-index:1;
		transition:.5s ease-in;
	}

	.mobile-menu-close a {
    	position: absolute;
    	right: 40px;
    	top: 20px;
    	color: #999;
    	font-size: 25px;
	}

	.mobile-menu .overlay-content{
		text-align: center;
		z-index: 1;
	}
	.overlay-content ul li{
		margin-bottom:20px;
	}
	.overlay-content ul li a {
    	font-size: 20px;
    	color: #999;
    	font-weight: 400;
    	letter-spacing: 3px;
	}

	.login-btn{
		padding:15px 60px !important;
		background: var(--color-4) !important;
		color:var(--color-6) !important;
		text-transform:uppercase !important;
		font-weight:500 !important;
		font-size:var(--paragraph-1) !important;	
	}

	.header-search-wrapper .search-main{
		font-size:25px !important;
	}



 }


/*-- Medium devices (tablets, less than 992px) --*/

@media (max-width: 991px) { 
	
	/* ============================== */
	/* --REUSABLE COMPONENTS-- */
	/* ============================== */

	.mb-md-30{
		margin-bottom:30px !important;
	}

	/* ============================== */
	/* --HEADER SECTION-- */
	/* ============================== */

	header nav {
    	padding: 12px 0px !important;

	}



	/* ============================== */
	/* -- SERVICE SECTION -- */
	/* ============================== */

	.service-item p{
		width:100% !important;
	}

	/* ============================== */
	/* -- PORTFOLIO SECTION -- */
	/* ============================== */

	.portfolio-section .col-lg-3:nth-child(1) {
   		 margin-bottom: 0px !important;
	}

	/* ============================== */
	/* -- ABOUT US SECTION -- */
	/* ============================== */

	.about-section {
     	padding-bottom: 55px !important;
	}

	.about-section .about-desc{
		width: 90% !important;
	}

	.about-content p {
    	width: 100% !important;
	}

	/* ============================== */
	/* -- NEWSLATTER SECTION -- */
	/* ============================== */

	.newslatter-section .newslatter-title{
		text-align:center;
	}

	.newslatter-title h3 {
    	color: var(--color-1);
    	line-height: 25px;
	}


 }

/*-- Small devices (landscape phones, less than 768px) --*/

@media (max-width: 767px) { 

	/* ============================== */
	/* -- REUSABLE COMPONENTS -- */
	/* ============================== */

	.py-sm-40{
		padding-top:40px;
		padding-bottom:40px;
	}

	.mb-sm-30{
		margin-bottom:30px !important;
	}

	.mt-sm-40{
		margin-top:40px !important;
	}

	/* ============================== */
	/* -- HEADER SECTION -- */
	/* ============================== */
	
	header{
		height:120vh;
	}

	.banner-text-box .banner-title {
    	font-size: 40px;
	}

	/*==================*/
	/*-- MOBILE MENU --*/
	/*==================*/
	
	.mobile-menu .overlay{
		padding-top:60px !important;
	}

	/* ============================== */
	/* -- SERVICE SECTION-- */
	/* ============================== */
	
	.service-item h2 {
    	margin: 25px 0px !important;
	}

	/* ============================== */
	/* -- PORTFOLIO SECTION -- */
	/* ============================== */

	.portfolio-filter {
    	margin: 40px 0px;
	}

	.portfolio-section .col-lg-3:nth-child(1){
		margin-bottom:30px !important;
	}

	/* ============================== */
	/* -- ABOUT US SECTION -- */
	/* ============================== */

	.about-section {
    	padding-top: 40px !important;
	}

	.about-section .about-desc {
    	width: 100% !important;
	}

	.about-content {
   	    text-align: center;
   	    margin-bottom: 20px;
	}

	/* ============================== */
	/* -- TEAM SECTION -- */
	/* ============================== */

	.team-section {
    	padding-top: 60px !important;
    	padding-bottom: 60px !important;
	}

	.team-section .team-desc {
		width: 100% !important;
	}

	/* ============================== */
	/* -- PROJECT START SECTION -- */
	/* ============================== */
	
	.project-start {
    	padding: 80px 0px;
	}

	/* ============================== */
	/* -- BLOG SECTION -- */
	/* ============================== */

	.blog-section .blog-content {
    	text-align: center;
	}

	.subscribe-area{
		text-align:center;
	}

	/* ============================== */
	/* -- FOOTER SECTION -- */
	/* ============================== */
	
	.footer-logo-desc .footer-desc {
   		 margin-bottom: 40px !important;
	}

	.footer-contact .mail-btn {
    	margin: 30px 0px !important;
	}

	.footer-logo-desc .copywright {
   	    width: 100%;
	}

	.footer-contact p {
 	   width: 100%;
	}
 }

/*-- X-Small devices (portrait phones, less than 576px) --*/
@media (max-width: 575px) { 

	/* ============================== */
	/* --REUSABLE COMPONENTS-- */
	/* ============================== */

	.title {
    	margin-top: 20px !important;
    	font-size: 30px !important;
   	}

	.py-xs-40{
		padding-top:40px !important;
		padding-bottom:40px !important;
	}

	.pt-xs-0{
		padding-top:0px !important;
	}

	.mt-xs-50{
		margin-top:50px !important;
	}

	/* ============================== */
	/* --HEADER SECTION-- */
	/* ============================== */

	header{
		height:90vh;
	}

	.mobile-menu-bars span {
		font-size: 32px;
	}

	.banner-text-box .btn{
		padding:14px 40px !important;
	}

	/* ============================== */
	/* -- PORTFOLIO SECTION -- */
	/* ============================== */

	.portfolio-filter {
   	    margin: 30px 0px !important;
	}

	.portfolio-filter button{
		line-height:20px;
	}

	.portfolio-filter button:not(:last-child){
    	margin-right: 20px;
	}

	.portfolio-filter button:nth-child(1),
	.portfolio-filter button:nth-child(2),
	.portfolio-filter button:nth-child(3),
	.portfolio-filter button:nth-child(4){
		margin-bottom:20px;
	}

	/* ============================== */
	/* -- ABOUT US SECTION -- */
	/* ============================== */

	.about-section {
   	    padding-top: 0px !important;
	}


 }
		