

/*==================*/
/*--VARIABLES--*/
/*==================*/

:root{

	--title:35px;
	--sub-title:20px;
	--paragraph-1:15px;
	--paragraph-2:13px;
	--color-1:#1a2940;
	--color-2:#a8b9c0;
	--color-3:#ffffff;
	--color-4:#ff3150;
	--color-5:#33d1cc;
	--color-6:#ffc501;
	--color-7:#19283f;

}

/*====================================*/
/*-- START BASIC SETUP --*/
/*====================================*/

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	font-family: 'Roboto';
}

*,
*::after,
*::after{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

span,
a,
label{
	
	display:inline-block;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus{

	outline:0;
	border:0;
}

/*====================================*/
/*-- RESUSABLE COMPONENTS --*/
/*====================================*/

.title{
	font-size:var(--title);
	font-weight:500;
	color:var(--color-1);
	text-transform:capitalize;
	margin-top:40px;
	margin-bottom:15px;
}

.sub-title{
	font-size:var(--sub-title);
	font-weight:500;
	color:var(--color-6);
	text-transform:capitalize;
}

.detail-1,
.detail-2{
	font-size:var(--paragraph-1);
	font-weight:400;
	color:var(--color-2);
}

.detail-1{
	text-transform:uppercase;

}

.detail-2{
	font-size:var(--paragraph-2);
}

.btn{
	padding:15px 60px;
	background: var(--color-4);
	color:var(--color-6);
	text-transform:uppercase;
	font-weight:500;
	font-size:var(--paragraph-1);
}

.line{
	width:150px;
	height: 3px;
	background:#7fe0de;
	border: none;
	margin-top:10px;
	display:inline-block;
}

.py-55{
	padding-top:55px;
	padding-bottom:55px;
}

.mt-30{
	margin-top:30px;
}

.mt-60{
	margin-top:60px;
}

/*==================*/
/*-- PRELOADER --*/
/*==================*/

.preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #fff url('../images/Spinner-1.4s-200px.gif');
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;
}

/*========================================*/
/*-- START HEADER SECTION CSS HERE --*/
/*========================================*/

header{
	height:85vh;
	background:var(--color-7);
	width:100%;
}

header nav{
	padding:20px 0px;
}

/*==================*/
/*-- MAIN MENU --*/
/*==================*/

.main-menu li{
	margin-right:40px;
}

.main-menu li a{
	font-weight:400;
	font-size:var(--paragraph-1);
	color:var(--color-2);
	text-transform:capitalize;
}

.main-menu li a:hover{
	color:var(--color-5)
}

/*==================*/
/*-- LOGIN AREA --*/
/*==================*/

.v-line{
	width:2px;
	height:25px;
	background:var(--color-5);
}

.login-area ul li:not(:last-child){
	margin-right:25px;
}

/*=============================*/
/*-- TOGGLE SEARCH BAR --*/
/*=============================*/

.header-search-wrapper {
  position: relative;
  float: right;
  text-align: center;
}

.header-search-wrapper .search-main {
  color: var(--color-5);
  font-size: var(--sub-title);
  display: inline-block;
  cursor: pointer;
}

.header-search-wrapper .search-form-main {
  position: absolute;
  top: 56px;
  right: -18px;
  width: 350px;
  box-shadow: 1px 1px 7px rgb(0 0 0 / 15%);
  border-top: 3px solid var(--color-4);
  visibility: hidden;
  opacity: 0;
  transition: all 1s linear;
  z-index:9999;

}

.active-class {
  visibility: visible !important;
  opacity: 1 !important;
}

.search-form-main:after {
  position: absolute;
  top: 0;
  content: "";
  right: 0;
  border: 15px solid transparent;
  border-top: 0px;
  border-bottom: 15px solid var(--color-4);
  width: 0;
  transform: translate(-42%, -119%);
}

.search-form-main .search-form {
  padding: 20px;
  overflow: hidden;
  background: #a8b9c0;
}

.search-form .search-field {
    float: left;
    width: 75%;
    font-size: 17px;
    padding: 16px;
}

.search-form .search-submit {
  float: right;
  width: 25%;
  border-radius: 0;
  display: inline-block;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background: var(--color-4);
  color: #fff;
  outline: 0;
  text-align: center;
  padding: 16px 10px;
}

/*==================*/
/*-- MOBILE MENU --*/
/*==================*/

.mobile-menu{
	display:none !important;
}

/*==================*/
/*-- BANNER --*/
/*==================*/

.banner-text-box .banner-title{
	color:#f0f8fb;
	font-size:50px;
	font-weight:300;
}

.banner-text-box .banner-desc{
	text-transform:none !important;
	margin-top:20px;
	margin-bottom:30px;
}

/*==================*/
/*-- STICKY MENU --*/
/*==================*/

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    left: 0;
    width: 100%;
    background: var(--color-1);
    -webkit-box-shadow: 2px 2px 7px 0px #111;
    box-shadow: 1px 1px 7px 0px #111111;
}

/*========================================*/
/*-- START SERVICE SECTION CSS HERE --*/
/*========================================*/

.service-number-icon{
	position:relative;
}

.service-icon-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.service-item h2{
	margin:35px 0px;
}

.service-item p{
	text-transform:lowercase;
	line-height:25px;
	width:80%;
	margin:auto;
}

.service-icon-img-1 {
    transform: translateX(-25%);
}

/*========================================*/
/*-- START PORTFOLIO SECTION CSS HERE --*/
/*========================================*/

.portfolio-section .col-lg-3:nth-child(1){
	margin-bottom:30px;
}

.portfolio-filter{
	margin:60px 0px;
}

.portfolio-filter button{
	font-weight:400;
	font-size:15px;
	color:var(--color-2);
	text-transform:capitalize;
	background:transparent;
	cursor:pointer;
}

.portfolio-filter button:not(:last-child){
	margin-right:40px;
}

.active{
	padding:15px 20px !important;
	background: var(--color-4) !important;
	color:var(--color-6) !important;
	text-transform:uppercase !important;
	font-weight:500 !important;
	font-size:var(--paragraph-1) !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

.portfolio-overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100%;
    background: #111;
    width: 100%;
    bottom: 0;
    right: 0;
    background:var(--color-5);
    opacity:0;
    transition:.5s ease;
    -webkit-transition:.5s ease;
    -moz-transition:.5s ease;
    -o-transition:.5s ease;
}

.portfolio-overlay:hover{
	opacity:1;

}
.portfolio-overlay h3{
	color:var(--color-3);
	font-weight:400;
	margin-bottom:15px;
}

.portfolio-overlay span{
	color:var(--color-1);
	text-transform: capitalize;
}

.portfolio-section .more-btn a{
	padding:15px 50px !important;
}

/*========================================*/
/*-- START ABOUT SECTION CSS HERE --*/
/*========================================*/

.about-section{
	padding-top:55px;
}

.about-section .about-desc{
	font-weight: 300;
	text-transform:capitalize;
	width:52%;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	line-height:23px;
}

.about-content h2{
	margin-top:0px !important;
}
.about-content p{
	font-weight:300;
	width: 85%;
    line-height: 22px;
    margin-bottom: 20px;
}

.about-content p span{
    margin-top:15px;
}

.about-content a{
	padding:15px 45px !important;
}

/*========================================*/
/*-- START ABOUT SECTION CSS HERE --*/
/*========================================*/

.team-section{
	padding-top:110px;
	padding-bottom:55px;
	background:#eff7fa;
}
	
.team-section .team-heading{
	color:var(--color-6) !important;
	text-transform: none !important;
	margin-top:0px !important;
	margin-bottom:30px !important;
}
	
.team-section .team-desc {
    width: 88% !important;
    margin: auto;
    line-height:22px;
    text-transform: capitalize !important;
}

.team-section .members-info {
    text-align: center;
}

.members-info .memebers-name {
    background:var(--color-5);
    color: var(--color-3);
    padding:12px 0px;
}

.memebers-name .sub-title{
	color:var(--color-3) !important;
	font-weight:400 !important;
}

.memebers-desc {
    padding: 30px 0px;
    background: #fff;
}

.memebers-desc p {
    text-transform: none !important;
    margin: 0 auto;
    line-height: 18px;
    width: 80%;
}

/*========================================*/
/*-- START CLIENTS SECTION CSS HERE --*/
/*========================================*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

      /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*========================================*/
/*-- START PROJECT START SECTION CSS HERE --*/
/*========================================*/

.project-start{
	padding:110px 0px;
	background:var(--color-7);
}

.project-start-content{
	text-align:center;
}

.project-start-content h2{
	color:var(--color-3) !important;
	margin-bottom:20px !important;
	margin-top:0px !important;
}

.project-start-content p{
	text-transform: none !important;
	margin-bottom:50px !important;
}

.project-start-content a{
	padding: 15px 50px !important;
}

/*========================================*/
/*-- START BLOG SECTION CSS HERE --*/
/*========================================*/

.blog-content span{
	margin:15px 0px;
}

.blog-content h3{
	font-weight:400 !important;
	color:var(--color-1) !important;
}

.blog-btn{

}

.blog-btn a{
	padding:15px 55px !important;
}

/*========================================*/
/*-- START NEWSLATTER SECTION CSS HERE --*/
/*========================================*/

.newslatter-section{
	padding:30px 0px;
	background:var(--color-6);
}

.newslatter-title h3{
	color:var(--color-1);
}

.newslatter-section form .input-field {
    width: 100%;
    background: transparent;
    border-bottom: 2px solid #fff;
    padding-bottom:10px;
    padding-left:5px;
    font-weight:400;
    font-size:var(--paragraph-1);

}

.newslatter-section form .input-field::placeholder{
	color:var(--color-3);
	text-transform:none !important;
}

.newslatter-section form .submit-btn{
	background:#19283f !important;
	color:var(--color-6);
	cursor:pointer;
	padding:15px 70px !important;

}

/*========================================*/
/*-- START FOOTER SECTION CSS HERE --*/
/*========================================*/

.footer-section{
	background:var(--color-1);
	color:var(--color-3) !important;
}

.footer-logo-desc .footer-desc{
	line-height:20px;
	margin-top:25px;
	margin-bottom:70px;
}

.footer-logo-desc .copywright {
    width: 62%;
    line-height: 20px;
}

.footer-logo-desc .copywright .grph{
	color:var(--color-5) !important;
}

.footer-logo-desc .copywright .bondi{
	color: var(--color-6) !important;
}

.footer-link-1 h4,
.footer-link-2 h4,
.footer-contact h4{
	color:var(--color-3) !important;
	text-transform:capitalize !important;
	margin-bottom: 25px;
}

.footer-link-1 ul li:not(:last-child),
.footer-link-2 ul li:not(:last-child){
	margin-bottom: 17px !important;
}

.footer-link-1 ul li a,
.footer-link-2 ul li a{
	text-transform:capitalize !important;
}

.footer-contact .mail-btn {
    text-transform: none !important;
    color: var(--color-3) !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    padding: 15px 0px !important;
    width: 100%;
    text-align: center;
    margin:40px 0px;
}

.footer-contact p{
	width:90%;
	line-height:20px;
}

.footer-contact .social-icon a {
    color: var(--color-3);
    height: 35px;
    width: 35px;
    line-height: 35px;  
}

.footer-contact .social-icon a:not(:last-child){
	margin-right:12px;
}

.social-icon .fb{
	background:#347cd2 !important;
}

.social-icon .twitter{
	background:#1ec4ff !important;
}

.social-icon .googgle-plus{
	background:#ff4032 !important;
}

.social-icon .dribble{
	background:#ff3298 !important;
}

/*========================================*/
/*-- START SCROLL TO TOP CSS HERE --*/
/*========================================*/
 
 .scroll {
    position: fixed;
    right: 15px;
    height: 40px;
    font-family: FontAwesome;
    color: #fff !important;
    width: 40px;
    font-size: 15px;
    line-height: 40px;
    bottom: 50px;
    z-index: 1;
    text-align: center;
    background: var(--color-4);
    transition: all .5s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;

}
 .scroll:hover{
 	transform:translateY(-7px);
 	-webkit-transform:translateY(-7px);
 	-moz-transform:translateY(-7px);
 	-o-transform:translateY(-7px);
 	-ms-transform:translateY(-7px);
 }